
body {
    background: rgb(48, 47, 47);
}
.container { 
    max-width: 800px;
    border: 1px solid rgb(115, 91, 223);
    border-radius: 5px;          /* Areedondar a borda */
    margin: 0 auto;             /* 0 serve para deixar grudado no topo da página. */
    background-color: rgb(167, 167, 248);
    text-align: center;
}


.card {
    background-color: #0c0c0c;
    height: 150px;               /* Altura */
    text-align: center;         /* Centralizando o texto na tela */
    line-height: 135px;        /* Centralizando o texto na div */
    color: rgb(244, 240, 248);       /* Mudando a cor do texto */
}

.botao{
    background: #d12f06;
    color: rgb(244, 240, 248);
    padding: 20px;
    margin: 20px;
    border: 0;
    cursor: pointer;        /* Para adicionar um cursor */
}

.voltarDiv {
    background-color: rgb(39, 124, 57);
}